:root {
    --first: #ECECEC;
    --blue: #2196F3;
    --dark: #212121;
    --black: #000000;
    --grey: #757575;
    --white: #FFFFFF;
    --second: #2F303A;
    --third: #F5F4FA;
    --fourth: #EEEEEE;
    --background: #F5F4FA;
    --social: #AFB1B8;
    --page-header: rgba(236, 236, 236, 1);
    --border: rgba(175, 177, 184, 1);
    --tittle: rgba(47, 48, 58, 0.4);
    --end: rgba(255, 255, 255, 0.6);
    --socialmedia: rgba(255, 255, 255, 0.1);
    --label: rgba(47, 48, 58, 0.8);
    --modal: rgba(117, 117, 117, 0.5);
}