
.backdrop {
    position: fixed;
    width: 100%;
    left: 0px;
    top: 0px;
    transition: opacity 250ms linear, visibility 250ms linear;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    background-color: rgba(0, 0, 0, 0.2);
    transform: scale(1.0);
    height: 100%;
    &__hidden {
        opacity: 0;
        visibility: hidden;
        pointer-events: none;
    }
}