.portfolio {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    &__description {
            font-size: 18px;
            line-height: 1.55;
            letter-spacing: 0.03em;
            color: var(--white);
            width: 301px;
        }
    &__page {
        display: flex;
        background: var(--white);
        position: relative;
        overflow: hidden;
    }
    &__background {
        background: var(--blue);
        position: absolute;
        padding: 49px 45px 49px 24px;
        top: 0;
        left: 0;
        height: 100%;
        margin-bottom: 110px;
        transform: translatey(100%);
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    }
}

    .portfolio__page:hover {
        cursor: pointer;
        box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

    .portfolio__page:hover {
        transform: translateX(0)
}

    .portfolio__page:hover .portfolio__background {
      transform: translatey(0);
}

.img {
    border-left: 1px solid var(--fourth);
    border-right: 1px solid var(--fourth);
    border-bottom: 1px solid var(--fourth);
    padding: 20px 24px;
    position: relative;
    background-color: var(--white);
    &__name {
        letter-spacing: 0.03em;
        font-weight: 700;
        font-size: 18px;
        line-height: 2;
        color: var(--dark);
    }
    &__description {
        color: var(--grey);
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.03em;
        padding-top: 8px;
    }
}



