.container {
    width: 1200px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
}

.section {
    padding-top: 94px;
    padding-bottom: 94px;
    &-description {
        padding-top: 94px;
    }
    &-team {
        padding: 94px;
        background: var(--third);
    }
}
.section-title {
     background-color: var(--second);
     text-align: center;
     background-image: linear-gradient(rgba(47, 48, 58, 0.4),
             rgba(47, 48, 58, 0.4)),
         url(../images/people.jpg);
     background-size: cover;
     background-repeat: no-repeat;
     padding-top: 200px;
     padding-bottom: 106px;
 }
.heading {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--white);
    padding-bottom: 20px;
    margin-top: 12px;
    padding-bottom: 20px;
    padding-left: 70px;
}